/********** Template CSS **********/
:root {
    --primary: #ee7933;
    --secondary: #ffffff;
    --light: #ffffff;
    --dark: #1E3768;
    --red: #ff0000;
    --yellow: #ffe600;
    --green: #0d7a00;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--primary);
}
.sticky-footer{
    position: sticky;
    bottom: 0;
    background-color: var(--light);
}
.page-link{
    color: var(--dark);
}
.page-link:hover, .page-link:focus, .page-link:active{
    color: var(--primary);
    box-shadow: none;
}
.bg-secondary {
    background-color: var(--secondary) !important;
}

.border-primary {
    border: 1px solid var(--dark) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary);
}

.green-text {
    color: var(--green);
}

.btn-primary {
    border-color: var(--primary) !important;
    background-color: var(--primary) !important;
}

.btn-primary:hover {
    border-color: var(--dark) !important;
    background-color: var(--secondary) !important;
    color: var(--dark);
}

.red-text {
    color: var(--red);
}

.yellow-text {
    color: #ffe600;
}

.btn,
.btn:focus {
    box-shadow: none;
    outline: none;
}

.action .btn i {
    font-size: 0;
}

.action .btn i::before {
    font-size: 14px;
}

.form-control {
    border-color: var(--dark);
}

.form-group label {
    color: var(--dark);
}

.form-control,
.form-control:focus {
    background-color: var(--light);
    color: var(--dark);
    box-shadow: none;
}

.form-control:focus {
    border-color: var(--secondary);
}

.uploadFile.form-control {
    padding: 3px;
}

.btn-primary,
.btn-primary:focus {
    box-shadow: none;
    outline: none;
}

.vh-100 {
    min-height: 100vh !important;
}

.btn i {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.view:hover i {
    color: var(--primary);
}

.edit:hover i {
    color: var(--green);
}

.delete:hover i {
    color: var(--red);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: var(--primary);
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

body {
    color: var(--dark) !important;
    background-color: var(--light);
    font-size: 16px;
}

.table {
    color: var(--dark) !important;
    font-size: 13px;
}

.table-hover>tbody>tr:hover {
    background-color: rgba(79, 129, 189, 0.1) !important;
}

.form-check-input:checked {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.form-check-input:focus {
    border: none;
    box-shadow: none;
}

.prdct-img {
    max-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
}

.prdct-img img,
.prdct-dtl-img img {
    max-width: 100%;
    display: block;
}

.prdct-dtl-img {
    max-width: 200px;
}

/*** Button ***/
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--secondary);
    transition: 0.5s;
    z-index: 9999;
}

.navbar.sticky-top {
    box-shadow: 3px 0px 5px 0px rgba(46, 58, 72, 0.5);
}

.content {
    margin-left: 250px;
    /* min-height: 100vh; */
    background: var(--light);
    transition: 0.6s;
}

/*** Navbar ***/
.admin-logo-wrp img {
    max-width: 100%;
}

.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--dark);
    font-weight: 500;
    border-left: 3px solid var(--secondary);
    border-radius: 0 25px 25px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--light);
    background: var(--dark);
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--light);
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--secondary);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 9px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: var(--dark);
    font-weight: 600;
}
.sidebar .navbar-nav .dropdown-menu{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #43434312 !important;
    margin-top: 3px;
    margin-bottom: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: var(--dark);
    color: var(--light);
}
.subnav{
    display: flex;
    /* padding-right: 10px; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.subnav a{
    width: 85%;
}
.sidebar .navbar .dropdown-menu a:hover{
    background: none !important;
    color: var(--primary) !important;
}
.subnav button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 15%;
    position: relative;
}
.subnav button::after{
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
    position: static !important;
}
.subnav ul.dropdown-menu{
    width: 100%;
    padding: 0 0 0 10px !important;
}
.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--dark);
    outline: none;
}

.content .navbar .navbar-nav .nav-link i {
    color: var(--light);
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler {
    color: var(--light);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.content .navbar .dropdown-item {
    color: var(--dark);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    background: var(--dark);
    color: var(--light);
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}



.dropdown-menu{
    font-size: 14px;
}
/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

.test-cont-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar-toggler {
        order: 2;
    }

    .navbar-expand .navbar-nav {
        order: 1;
        margin-right: 15px;
    }
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }

    .content .navbar .navbar-brand {
        max-width: 100px;
    }

    .content .navbar .navbar-brand .admin-logo-wrp {
        max-width: 100%;
    }

    .vh-100 {
        min-height: auto !important;
        height: auto !important;
    }
}

@media (max-width: 767px) {
    .content .navbar {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .content .navbar .navbar-brand {
        max-width: none;
        min-width: 50%;
    }

    .content .navbar .navbar-brand .admin-logo-wrp {
        max-width: 150px;
    }

    .navbar-expand .navbar-nav {
        /* min-width: 100%; */
        justify-content: space-between;
        margin-right: 10px;
    }

    .navbar-expand .navbar-nav .dropdown-menu {
        position: absolute;
        left: 0;
        right: auto;
    }

    .content .navbar .navbar-nav .nav-link {
        margin-left: 0;
    }

    .navbar-expand .navbar-nav .nav-item.dropdown:last-child .dropdown-menu {
        left: auto;
        right: 0;
    }
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 0;
    }
}